/* Revolut Template CSS */

/* Generali */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Montserrat;
  min-height: 800px;
}
header a {
  text-decoration: none;
  color: inherit;
}
header {
  padding: 0 70px;
}
section a {
  text-decoration: none;
  color: inherit;
}
section {
  padding: 0 70px;
}

/* Header */
/* Menu in cima */
.topper-menu {
  height: 50px;
  background-color: #f3f4f5;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: #acadae;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.topper-menu a:hover {
  text-decoration: none;
  color: inherit;
}
.topper-left, .topper-right {
  width: 50%;
}
.topper-menu ul li {
  padding-left: 10px;
  padding-right: 20px;
}
.topper-menu ul {
  list-style: none;
  display: flex;
  height: 100%;
  align-items: center;
}
.topper-right ul {
  float: right;
}
.topper-left ul li:first-child {
  color: black;
}
.topper-left a:hover, .topper-right a:hover {
  color: black;
}
/* Menu generale con navbar */
.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 120px;
  font-size: 14px;
  color: #acadae;
  font-weight: 600;
}
#logo {
  width: 15%;
  display: flex;
  justify-content: flex-start;
}
.main-menu {
  width: 80%;
}
.menu-item {
  display: inline-block;
  list-style: none;
  padding: 15px;
}
.main-menu nav ul li a:hover {
  color: black;
}
a.button-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
a.button-menu:hover {
  text-decoration: none;
  background-color: #2f3133;
}
.button-menu {
  height: 40px;
  width: 100px;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 12px;
}
.main-menu nav ul li {
  position: relative;
}
.dropdown-list li {
  padding: 15px;
}
.dropdown-menu {
  background-color: white;
  position: absolute;
  top: 45px;
  left: 5px;
  font-size: 12px;
  font-weight: 600;
  filter: drop-shadow(0 0 0.5rem #cccccc);
  border-radius: 7px;
  width: 250px;
  display: none;
}
.dropdown-list li {
  display: block;
}
.junior {
  position: relative;
}
.new-icon {
  color: blue;
  position: absolute;
  top: 3px;
  font-size: 10px;
  font-weight: 800;
}
.img-phone {
   width: 120px;
   height: auto;
}
/* Jumbotron */
.jumbotron {
  display: flex;
  width: 100%;
  padding: 0 8px;
  min-height: 500px;
}
.jumbo-left {
  width: 50%;
  padding: 100px 100px 100px 0;
}
.jumbo-right {
  width: 50%;
}
.jumbo-par {
  margin: 20px 0;
  color: #acadae;
  font-size: 14px;
  font-weight: 600;
}
.img-phone {
   width: 500px;
   height: auto;
}
.big-title {
  font-size: 60px;
  font-weight: 600;
}
.form-field {
  border: none;
  border-bottom: solid 1px #cccccc;
  margin: 10px 0;
  padding-bottom: 5px;
}
select.form-field {
  width: 80px;
}
input.form-field {
  margin: 0 10px;
  color: #acadae;
  font-size: 14px;
  font-weight: 400;
}
.open-account {
  margin: 20px 0;
}
.open-account span {
  margin-left: 10px;
  font-size: 14px;
}
.addictive {
  color: grey;
  display: inline-block;
  height: 40px;
  width: 100px;
  background-color: #2f3133;
  color: grey;
  border-radius: 10px;
  line-height: 39px;
  padding-left: 32px;
  font-size: 14px;
  font-weight: 600;
  cursor: not-allowed;
}
.active {
  color: black;
}
.notactive {
  color: #acadae;
}
/* Responsive items */
.hamburger-menu {
  display: none;
}
.hamburger-menu i {
  font-size: 20px;
  color: #2f3133;
}
.responsive-spot, .responsive-btn {
  display: none;
}
#mobile-menu {
  display: none;
}
.mobile-right a i {
  font-size: 20px;
  color: #2f3133;
}
.topper-mobile {
  height: 80px;
  background-color: #f3f4f5;
  display: flex;
  font-size: 14px;
  font-weight: 600;
  color: #acadae;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  align-items: center;
}
.topper-mobile ul {
  list-style: none;
}
.topper-mobile ul li {
  display: inline-block;
  padding-left: 10px;
  padding-right: 20px;
}
.topper-mobile ul li:hover {
  color: black;
}
.topper-mobile ul li:first-child {
  color: black;
}
.mobile-left {
  width: 50%;
}
.mobile-right {
  width: 50%;
  text-align: right;
  margin-right: 20px;
}
.mobile-item span {
  cursor: pointer;
}
.mobile-item {
  font-size: 16px;
  color: #acadae;
  font-weight: 600;
  margin: 40px 25px;
  position: relative;
}
.mobile-dropdown {
  list-style: none;
  display: none;
}
.mobile-dropdown li {
  margin: 25px 0;
  font-size: 14px;
  font-weight: 400;
}
.separator-item {
  border-bottom: solid 1px #cccccc;
  padding-bottom: 20px;
}
.mobile-item span > i {
  position: absolute;
  right: 10px;
}
.mobile-item:last-of-type {
  margin-bottom: 50px;
}
footer {
  border-top: solid 1px #cccccc;
  margin: auto 0;
}
/* MediaQuery per dispositivi XS < 930px */
@media all and (max-width: 930px) {
  .topper-menu {
    display: none;
  }
  .main-menu {
    display: none;
  }
  #logo {
    width: 87%;
  }
  .hamburger-menu {
    display: block;
  }
  #side-button {
    display: none;
  }
  #jtron {
    display: block;
  }
  #jumbo-lf {
    width: 100%;
    text-align: center;
    padding: 25px 100px;
  }
  #jumbo-rt {
    width: 100%;
    text-align: center;
  }
  .form-field, .addictive, .open-account {
    display: none;
  }
  .big-title {
    font-size: 40px;
    font-weight: 600;
  }
  .img-phone {
     width: 400px;
     height: auto;
  }
  #btn-responsive {
    display: block;
  }
  .responsive-spot {
    display: block;
    font-size: 26px;
    font-weight: 600;
    padding: 30px 0;
    border-bottom: solid 1px #cccccc;
    text-align: center;
    position: relative;
  }
  .responsive-btn {
    display: block;
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    margin: 20px calc(50% - 50px);
  }
}
